mat-toolbar {
  position:fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-top: 4px solid #000000;
  z-index: 1;
}

.logo {
  border-radius: 160px;
  
}

img {
  padding-top: 30%;
  padding-bottom: 25%;
  padding-left: 13%;
}

.popup {
  width: 95%;
  display: flex;
  position: static;
  justify-content: right;
  float: right;
}
