body {
    background-color: #dbd5cd;
}

#header {
    background-color:#f1b82d;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:5%;
    border-top: 2px solid #f1b82d;
    border-bottom: 2px solid #f1b82d;
    display: inline-block;
    border-bottom: 2px solid black;


}

#top {
    height:10%;
    width:100%;
    text-align: center;
    padding-top: 1%;
    background-color: black;
    color:white
}

#bottom {
    overflow: auto;
}

.side1 {
    display: inline-block;
    padding-right: 3%;
}

.side2 {
    display: inline-block;
    padding-left: 3%;
    padding-bottom: 2%;
}

.img2 {
    height:100px;
    width:150px;
    padding-left:9px;
}

.img3 {
    height: 150px;
    width: 220px;   
}

