/* centers search bar and gives space from the top */
.search{
  margin-left: 25%;
}

/* Sets size of the search bar and space from the search button */
.search mat-form-field{
  width: 70%;
  padding-right: 2%;
  padding-bottom: 10px;
}

/* Outlines posts area to visualize where things are placed, will remove later */
.posts{
  height: 100vh;
  width: 40%;
  overflow: auto;
  padding-left: 2%;
  padding-right: 2.5%;
  border-left: 6px solid black;
  border-right: 6px solid black;
  border-top: 6px solid black;
  background-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto 0;
  margin-top: auto;
  display: block;
  padding-top: 2%;
  
}

/* Outlines each tile in the grid list to visualize the placement of things, will remove later */
mat-grid-tile{
  
  justify-content: center;
  display: flex;
  border: 2px solid black;
  
}

/* Sets background color of post heading */
.header{
  background-color: white;
  border: 3px solid black;
  height: 11%;
}

/*Sets some space between the description and the interested button */
#description{
  margin-bottom: 3%;

}

/* #item{
margin-top: %;
} */

/* Centers the Username with the picture */
.title{
  margin-top: 14%;
  font-family: Graphik;
  font-size: 20px;
}

/* adds a border around the avatar picture */
.avatar{
  border-style: solid;
  border-color: black;
}

/* Sets size of post within grid tile */
.post {
  height:100%;
  width: 100%;
  
}

/* Sets size and position of status button */
.status {
  width: 50%;
  position: relative;
  bottom: 70px;
  border: 2px solid black;
  font-family: Gothik;
  font-size: 20px;
}

body {
  background-color: #dbd5cd;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 105vh;
  width: 100%;

}

.center {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#tiger1 {
  width: 15%;
  height: 100%;
  background-image: url('https://i.postimg.cc/JzyRcwH4/temp-Image4-Url-DV.jpg');
  float: left;
  color: #f1b82d;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#tiger2 {
  width: 15%;
  height: 100%;
  background-image: url('https://i.postimg.cc/JzyRcwH4/temp-Image4-Url-DV.jpg');
  float: right;
  color: #f1b82d;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.item {
  border: 2px solid black;
}

#header {
  background-color: black;
  border-bottom: 2px solid #f1b82d;
  border-top: 2px solid #f1b82d;
  height: 12%;
}
