/* centers search bar and gives space from the top */
.search{
  margin-left: 25%;
}

/* Sets size of the search bar and space from the search button */
.search mat-form-field{
  width: 70%;
  padding-right: 2%;
  padding-top: 10px;
}

/* Outlines posts area to visualize where things are placed, will remove later */
.posts{
  height: 100vh;
  width: 40%;
  overflow: auto;
  border: 6px solid black;
  padding:2%;
  background-color: #f1b82d;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

/* Outlines each tile in the grid list to visualize the placement of things, will remove later */
mat-grid-tile{
  border-style:dotted;
  border-color: black;
  justify-content: center;
  display: flex;
  
}

/* Sets background color of post heading */
.header{
  background-color: orange;
}

/*Sets some space between the description and the interested button */
#description{
  margin-bottom: 3%;
}

/* #item{
margin-top: %;
} */

/* Centers the Username with the picture */
.title{
  margin-top: 14%;
}

/* adds a border around the avatar picture */
.avatar{
  border-style: solid;
  border-color: black;
}

/* Sets size of post within grid tile */
.post {
  width: 90%;
  
}

/* Sets size and position of status button */
.status {
  width: 50%;
  position: relative;
  bottom: 70px;
  border: 2px solid black;
  font-family: Gothik;
  font-size: 20px;
}

body {
  background-color: #dbd5cd;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;

}

.center {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
