<!-- Search bar -->
<body>
  <mat-card id="header">
    <mat-card-content>
<div class="search">
  <mat-form-field id="inputBar">
    <input matInput>
  </mat-form-field>
  <a mat-raised-button color="primary">Search</a>
</div>
</mat-card-content>
</mat-card>

<mat-card id="tiger1">
  <h2></h2>
  <mat-card-content>
  </mat-card-content>
</mat-card>

<mat-card id="tiger2">
  <h2></h2>
  <mat-card-content>
  </mat-card-content>
</mat-card>


<!-- grid that holds all of the posts -->

<div class="posts">
<mat-grid-list cols="1">
  <mat-grid-tile>
    <mat-card class="post" multi="true">
      <mat-card-header class="header">
        <img mat-card-avatar class="avatar" src={{avatar}}> <!-- need to put an avatar in here -->
        <mat-card-title class="title">
          {{user}} <!-- temporary content placeholder, will be from the posts array -->
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{image}}> <!-- temporary content placeholder, will be from the posts array -->
      <button class="status" mat-flat-button color="primary">{{status}}</button>
      <mat-card-content class="content">
        <div id="item">
          <h1>{{item}}</h1>
        </div>
        <div id="description">
          {{description}}
        </div>
        <!-- temporary content placeholder, will be from the posts array -->
      </mat-card-content>
      <mat-card-actions>
        <button class="interested" mat-raised-button color="accent">Interested</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="post" multi="true">
      <mat-card-header class="header">
        <img mat-card-avatar class="avatar" src={{avatar}}> <!-- need to put an avatar in here -->
        <mat-card-title class="title">
          {{user}} <!-- temporary content placeholder, will be from the posts array -->
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{image}}> <!-- temporary content placeholder, will be from the posts array -->
      <button class="status" mat-flat-button color="primary">{{status}}</button>
      <mat-card-content class="content">
        <div id="item">
          <h1>{{item}}</h1>
        </div>
        <div id="description">
          {{description}}
        </div>
        <!-- temporary content placeholder, will be from the posts array -->
      </mat-card-content>
      <mat-card-actions>
        <button class="interested" mat-raised-button color="accent">Interested</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>
</body>
