<form class="postForm">
  <mat-form-field id="item">
    <mat-label>Item</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field id="description">
    <mat-label>Description</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field id="images">
    <mat-label>Image(s)</mat-label>
    <!-- placeholder input, more research needed on image -->
    <input matInput>
  </mat-form-field>
  <mat-form-field id="tradeStatus">
    <mat-label>Trade Status</mat-label>
    <mat-select>
      <mat-option value="available">Available</mat-option>
      <mat-option value="pending">Pending</mat-option>
      <mat-option value="traded">Traded</mat-option>
    </mat-select>
  </mat-form-field>

