
<body>

<div class = "middle">
<mat-card color="accent" class="top" id="missionStatement">
  <h1>TIGER TRADE</h1>
  <mat-card-content>
  </mat-card-content>
</mat-card>
<mat-card class="top" id="img1">
  <mat-card-content>
<img src="https://i.postimg.cc/7h1RC6D2/Avatar-Gold.png">
<img src="https://i.postimg.cc/7h1RC6D2/Avatar-Gold.png">
<img src="https://i.postimg.cc/7h1RC6D2/Avatar-Gold.png">
<img src="https://i.postimg.cc/7h1RC6D2/Avatar-Gold.png">
<img src="https://i.postimg.cc/7h1RC6D2/Avatar-Gold.png">
<img src="https://i.postimg.cc/7h1RC6D2/Avatar-Gold.png">
<img src="https://i.postimg.cc/7h1RC6D2/Avatar-Gold.png">
<img src="https://i.postimg.cc/7h1RC6D2/Avatar-Gold.png">
  </mat-card-content>
</mat-card>
<mat-card class="top" id="video">
  <h2>Tutorial Video</h2>
  <mat-card-content>
  </mat-card-content>
</mat-card>
<mat-card class="top" id="video2">
  <h2>Our Mission</h2>
  <mat-card-content>
    <p>We are committed to providing Mizzou students with an efficient, trustworthy, and safe platform to exchange goods. We hope to empower the students to take part in sustainable trades while also deepening the bonds of the Mizzou community.</p>
    <p>- Tiger Trade Team</p>
  </mat-card-content>
</mat-card>
</div>
</body>
