<mat-card color="accent" class="top" id="video">
  <mat-card-header>
    <mat-card-title>Tutorial Video</mat-card-title>
  </mat-card-header>
  <mat-card-content>Video Slot</mat-card-content>
</mat-card>
<mat-card color="accent" class="top" id="missionStatement">
  <mat-card-header>
    <mat-card-title>Mission Statement</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    We are committed to providing Mizzou students with an efficient, trustworthy, and safe platform to exchange goods. We hope to empower the students to take part in sustainable trades while also deepening the bonds of the Mizzou community.
  </mat-card-content>
</mat-card>
<mat-card color="accent" class="bottom" id="signUp">
  <mat-card-header>
    <mat-card-title>Sign up today!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Create an account
  </mat-card-content>
</mat-card>
