<mat-toolbar color="primary">
  <div class="main-buttons">
    <a color="accent" mat-raised-button routerLink="/" routerLinkActive="active">Home</a>
  <a color="accent" mat-raised-button routerLink="/posts" routerLinkActive="active">Posts</a>
  <a color="accent" mat-raised-button routerLink="/login" routerLinkActive="active">Login</a>
  </div>
  <div class="profile-button">
    <a color="accent" mat-raised-button routerLink="/profile" routerLinkActive="active">Profile</a>
  </div>
</mat-toolbar>
