mat-toolbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-buttons {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.welcome {
  text-align: left;
  display: flex;
  margin-right: 20px;
  font-size: 15px;
}

.wrap {
  display: flex
}