<mat-card>
    <mat-card-content>
      <div class="header">
        <p> Login </p>
      </div>
      <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
        <div class="pawprintInput">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Pawprint</mat-label>
            <input
              formControlName="pawprint"
              matInput
              placeholder="Enter pawprint" required
            />
            <mat-error *ngIf="!loginForm.controls['pawprint'].valid">
                Pawprint is required
              </mat-error>
          </mat-form-field>
        </div>

        <div>
          <span>
            <a class="text-link" class="link" routerLink="">Forgot Password?</a>
          </span>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput placeholder="Enter password" [type]=" hide ? 'password' : 'text'" required />
            <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
        <mat-error *ngIf="!loginForm.controls['password'].valid">
            Password is required
          </mat-error>
        </mat-form-field>
        </div>
        <button mat-flat-button color="accent">Login</button>
      </form>

      <div class="buttondesign">
        <p>Need an account?</p><a class="text-link" class="link2" routerLink="sign-up-page.html">SIGN UP</a>
      </div>
    </mat-card-content>
  </mat-card>
